html, body{
    margin: 0;
}

.map{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;
}

.app-footer{
    background-color: white;
    height: 20%;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.searchbar{
    background-color: white;
    box-shadow:
            0 3.9px 4.7px rgba(0, 0, 0, 0.048),
            0 13px 15.9px rgba(0, 0, 0, 0.072),
            0 58px 71px rgba(0, 0, 0, 0.12);
    margin-top: -25px;
    border-radius: 30px;
    position: absolute;
    height: 50px;
    width: 60%;
    left: 10%;
}

.search-button{
    box-shadow:
            0 3.9px 4.7px rgba(0, 0, 0, 0.048),
            0 13px 15.9px rgba(0, 0, 0, 0.072),
            0 58px 71px rgba(0, 0, 0, 0.12);
    margin-top: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    margin-right: 10%;
}
