html, body {
    margin: 0;

}

.map {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;
    z-index: 0;
}

.app-footer {
    background-color: white;
    height: 20%;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1000;
}

.searchbar {
    box-shadow: 0 2.6px 7.5px rgba(0, 0, 0, 0.05),
    0 21px 60px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    border-radius: 30px !important;
    position: absolute;
    border: 0px !important;
    height: 50px !important;
    width: 60% !important;
    left: 10% !important;
}

.search-button {
    box-shadow: 0 2.6px 7.5px rgba(0, 0, 0, 0.05),
    0 21px 60px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    margin-right: 10%;
}

.filters {
    position: absolute;
    text-align: center;
    display: flex;
    width: 100%;
    margin: 0 !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.filter-button {
    white-space: normal;
    top: 50%;
    text-align: center;
    box-shadow: 0 2.6px 7.5px rgba(0, 0, 0, 0.05),
    0 21px 60px rgba(0, 0, 0, 0.1);
}

.feather {
    margin: auto;
    width: 100%;
}